<!doctype html>
<html lang="en">
<head>
    <title><%= title %></title>
    <% include partials/header %>
    <script src="javascripts/index.js"></script>
</head>
<body>
<div id="dynContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="jumbotron">
                    <h1 class="text-center">Labels</h1>
                    <div style="float: right">
                        <button type="button" class="btn btn-danger" onclick="deleteItems()">Remove Selected</button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNew">Add New</button>
                        <!--<button type="button" class="btn btn-primary">Print Selected Labels</button>-->
                    </div>
                </div>
                <form>
                  <div class="form-row align-items-right" style="float: right;">
                    <div class="col-auto">
                      <label class="sr-only" for="inlineFormInput">Name</label>
                        <input type="text" class="form-control mb-2" id="query-input" placeholder="Search">
                    </div>
                    <div class="col-auto">
                      <button type="button" onclick="search()" class="btn btn-primary mb-2">Go!</button>
                    </div>
                  </div>
                </form>
                <table class="table" id="items-table">
                    <thead>
                    <tr>
                        <th>Print</th>
                        <!-- <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th> -->
                        <th scope="col">Bold Title</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Ingredients</th>
                        <th scope="col">Used By</th>
                        <th scope="col">PLU</th>
                    </tr>
                    </thead>
                        <tbody>
                        </tbody>
                    <tfoot>

                    </tfoot>
                </table>
                <div class="full-container">
                    <tr id="loader">
                        <div class="loader"></div>
                    </tr>
                </div>
                <nav aria-label="Page Navigation">
                  <ul class="pagination" style="float: right;">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-new-form">
                    <div class="form-group">
                        <label>Bold Title</label>
                        <input type="Title" class="form-control" name="boldTitle" placeholder="Chicken & Salad" required>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="Title" class="form-control" name="title" placeholder="Wrap" required>
                    </div>
                    <div class="form-group">
                        <label>Price $</label>
                        <input type="number" step="any" class="form-control" name="price" placeholder="1.50" required>
                    </div>
                    <div class="form-group">
                        <label>Ingredients</label>
                        <textarea class="form-control" name="ingredients" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Used By</label>
                        <input type="text" class="form-control" name="usedBy" placeholder="dd/mm/yy">
                    </div>
                    <div class="form-group">
                        <label>PLU</label>
                        <input type="number"  class="form-control" name="PLU" placeholder="888888">
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" class="btn btn-primary" onclick="addItem('lol')" value="Save Changes">
            </div>
            </form>
        </div>
    </div>
</div>
<div id="print-section" style="visibility: hidden">
    <p id="pboldTitle"></p>
    <p id="ptitle"></p>
    <p id="pprice"></p>
    <p id="pingredients"></p>
    <p id="pusedBy"></p>
    <svg id="pbarcode"></svg>
    <p id="pPLU" style="visibility: hidden"></p>
</div>
</body>
</html>