.full-container{
    margin: auto;
    width: 1%;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
 }

#data-table-control{
    width: 100%;
    display: inline-block;
}



@media print
{

    @page {
        size: 5.7cm 10cm;
    }

    html, body *{
        visibility: hidden;
        height: 99%;
    }

    #print-section {
        display: block;
        height: 100%;
    }

    #dynContainer{
        display: none;
        width: 100%;
    }

    #print-section, #print-section * {
        visibility: visible !important;
        text-align: center;
    }

    #print-section:last-child {
        page-break-after: avoid;
    }

    #bold-title-container{
        position: relative;
        height: 1cm
    }

    #title-container{
        position: relative;
        height: 0.5cm
    }

    #ingredients-container{
        position: relative;
        height: 3cm;
    }

    #ingredients-container p{
        font-size: 4vw;
    }

    #used-by-container{
        position: relative;
        height: 1cm;
    }

    #barcode-container{
        position: relative;
        height: 1.5cm;
    }

    #barcode-number-container{
        position: relative;
        height: 0.5cm;
    }


}
